@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
    background-color: #141414;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #9b9c9d;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: #fff;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
}

.title-up {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
}

.material {
    width: 40px;
}


.orange {
    color: #cd8626;
}

.btn2o {
    color: #ffffee;
    border: 2px solid #6e7831 !important;
}

.btn2o:hover {
 background-image: linear-gradient(#6e783111, #6e783177);
}

.textBox {
    border: 2px solid #4B5320;
    background-color: #4B5320;
    color: white;
    padding: 10px;
    width: 60px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #4B5320 !important;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.card {
    background: linear-gradient(180deg, rgba(110,120,49,0.15) 5%, rgba(110,120,49,0.7) 90%);
    /*background-color: #4C531F !important;*/
}

.btn2i {
    color: black;
    border: 0px solid black !important;
    background-image: linear-gradient(0deg, rgba(17,0,12,1) 0%, rgba(81,69,78,0.4161164954262955) 47%, rgba(255,255,255,0) 100%);
}

.btn2i:hover {
   background-color: black;
}

.btn2q {
    border: 0px solid black !important;
    background-image: linear-gradient(0deg, rgba(17,0,12,1) 0%, rgba(255,0,0,0.4161164954262955) 47%, rgba(255,255,255,0) 100%);
}

.btn2q:hover {
    background-color: red;
}

.btn2w {
    border: 0px solid black !important;
    background-image: linear-gradient(0deg, rgba(17,0,12,1) 0%, rgba(255,137,0,1) 50%, rgba(255,255,255,0) 100%);
}

    .btn2w:hover {
        background-color: #ff8900;
    }

.card-img-top {
    filter: drop-shadow(9px 4px 4px #000000);
}

.img-thumbnail {
    filter: drop-shadow(9px 4px 4px #000000) !important;
}


.form-control {
    color: black;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    font-weight: 600;
}

.form-control::placeholder { 
 color: black;
 font-family: 'Poppins', sans-serif;
 opacity: 1;
 font-weight: 600;
}

.custom-alert {
    background-color: #4C531F !important;
}

.custom-span {
    background-color: #CD8626;
    margin-top: -10px;
}

.bordo-selezionato {
    border: 2px solid white;
}

.selezione-colore {
    cursor: pointer;
    margin-inline: 5px;
}

.dropdown-menu {
    background-color: #4C531F !important;
}

.carousel-item {
    width: 800% !important;
    margin-left: -200% !important;
}